/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require admin-styles
 *= require font-awesome.min
 *= require sweetalert
 *= require quill.snow.css
 */
 .quill{
   border: 1px solid #000;
 }
 .quill .quill-contents{
   background-color: #fff;
 }
 .modal-header-square {
   background: #C0C0C0;
   // font-family: sans-serif !important;
   font-family: "Lato", "proxima-nova", "montserratregular", sans-serif !important;
   border: 0px;
 }
 .help-block{
   font-size: 12px !important;font-weight: bold !important;
 }
 @import "bootstrap-sprockets";
 @import "bootstrap";
